.listaTarjetas {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 5px;
}

.tarjeta {
  width: 115px;
  height: 115px;
  background-color: rgb(229 231 235 / 0.45);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5%;
  font-weight: bold;
}

.tarjeta.estaRevelada {
  /* Estilos para las tarjetas reveladas */
  background-color: rgba(23, 23, 23, 0.852);
  color: black;
}

.win {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.382);
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.win-box {
  background-color: rgba(212, 211, 211, 0.982);
  border-radius: 15px;
  padding: 30px 60px;
}

.mostrarWin {
  display: flex;
}

.flip-in-ver-left-lento {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flip-in-ver-right-lento {
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-in-ver-left-normal {
  animation: flip-in-ver-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flip-in-ver-right-normal {
  animation: flip-in-ver-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-in-ver-left-rapido {
  animation: flip-in-ver-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flip-in-ver-right-rapido {
  animation: flip-in-ver-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes flip-in-ver-right {
  0% {
    transform: rotateY(-95deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-left {
  0% {
    transform: rotateY(95deg);
    opacity: 0.7;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

.t4x3 {
  display: grid;
  grid-template-columns: repeat(4, 115px);
}

.t5x4 {
  display: grid;
  grid-template-columns: repeat(5, 115px);
}

.t6x6 {
  display: grid;
  grid-template-columns: repeat(6, 115px);
}

.t7x6 {
  display: grid;
  grid-template-columns: repeat(7, 115px);
}

.t9x6 {
  display: grid;
  grid-template-columns: repeat(9, 115px);
}

/* Responsive para pantallas medianas */
@media (max-width: 1024px) {
  .tarjeta {
    width: 65px;
    height: 65px;
  }
  .t4x3 {
    grid-template-columns: repeat(4, 65px);
  }
  .t5x4 {
    grid-template-columns: repeat(5, 65px);
  }
  .t6x6 {
    grid-template-columns: repeat(6, 65px);
  }
  .t7x6 {
    grid-template-columns: repeat(7, 65px);
  }
  .t9x6 {
    grid-template-columns: repeat(9, 65px);
  }
}

/* Responsive para móviles pequeños */
@media (max-width: 680px) {
  .tarjeta {
    width: 50px;
    height: 50px;
  }
  .t4x3 {
    grid-template-columns: repeat(4, 50px);
  }
  .t5x4 {
    grid-template-columns: repeat(5, 50px);
  }
  .t6x6 {
    grid-template-columns: repeat(6, 50px);
  }
  .t7x6 {
    grid-template-columns: repeat(7, 50px);
  }
  .t9x6 {
    grid-template-columns: repeat(6, 50px);
  }
}
