.listaTarjetas {
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.tarjeta {
  padding: 30px;
  background-color: beige;
  color: black;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  border-radius: 10%;
}

.tarjeta.estaRevelada {
  /* Estilos para las tarjetas reveladas */
  background-color: aqua;
  color: black;
}

.botones {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 0 15px;
}

.win {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.382);
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.win-box {
  background-color: rgba(16, 15, 15, 0.982);
  border-radius: 15px;
  padding: 30px 60px;
}

.mostrarWin {
  display: flex;
}
